<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>管理后台 - Powered by Php!</title>
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    {block name="css"}{/block}
</head>
<body>
{block name="body"}{/block}
<!--JS引用-->
<!--<script src="__LAYUI__/layui.all.js"></script>-->
{include file="common/footer"}
{block name="js"}{/block}
<!--页面JS脚本-->
{block name="script"}{/block}
</body>
</html>