{extend name="common:inner"}
{block name="css"}
<link rel="stylesheet" href="__ADMIN__/style/login.css" media="all">
{/block}
{block name="body"}
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>layuiAdmin</h2>
            <p>layui 官方出品的单页面后台管理模板系统</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <!--<div class="layui-form-item">-->
                <!--<label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>-->
                <!--<input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="手机" class="layui-input">-->
            <!--</div>-->
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-read" ></label>
                <input type="text" name="email" id="LAY-user-login-email"  placeholder="电子邮箱" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" ></label>
                        <input type="text" name="verify" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img class="verifyImg" onclick="this.src='{:captcha_src()}?time='+Math.random()" src="{:captcha_src()}" alt="点击更换" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password"  placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password_confirm"></label>
                <input type="password" name="password_confirm" id="LAY-user-login-password_confirm" lay-verify="required" placeholder="确认密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" ></label>
                <input type="text" name="username" id="LAY-user-login-username"  placeholder="用户名,非昵称" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">注 册</button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <!--<label>社交账号注册</label>-->
                <!--<a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>-->
                <!--<a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>-->
                <!--<a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>-->

                <!--<a href="login.html" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>-->
                <!--<a href="login.html" class="layadmin-user-jump-change layadmin-link layui-hide-sm layui-show-xs-inline-block">登入</a>-->
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

        <!--<p>© 2018 <a href="http://www.layui.com/" target="_blank">layui.com</a></p>-->
        <!--<p>-->
            <!--<span><a href="http://www.layui.com/admin/#get" target="_blank">获取授权</a></span>-->
            <!--<span><a href="http://www.layui.com/admin/pro/" target="_blank">在线演示</a></span>-->
            <!--<span><a href="http://www.layui.com/admin/" target="_blank">前往官网</a></span>-->
        <!--</p>-->
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function(){
        var $ = layui.$
            ,setter = layui.setter
            ,admin = layui.admin
            ,form = layui.form;

        form.render();

        //提交
        form.on('submit(LAY-user-reg-submit)', function(data){
            //确认密码
            if(data.field.password !== data.field.password_confirm){
                return layer.msg('两次密码输入不一致');
            }
            //是否同意用户协议
            if(!data.field.agreement){
                return layer.msg('你必须同意用户协议才能注册');
            }
            //请求接口
            $.ajax({
                type: "POST",
                url: "{:url('admin/user/reg')}",
                dataType: "json",
                data: data.field,
                async: false,
                success: function (result) {
                    // console.log(result);
                    if (result.status === "success") {
                        layer.msg(result.info, {icon: 1, time: 1200}, function () {
                            location.href = '{:url("@admin/home")}';
                        });
                    } else {
                        layer.msg(result.info, {icon: 2, time: 2100}, function () {
                            location.href = '{:url("admin/user/reg")}';
                        });
                    }
                },
                error: function () {
                    alert('请联系网站管理员');
                    // console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}